In [5]:
import pandas as pd

In [28]:
lego = pd.read_csv('datasets/lego_sets.csv')
parent = pd.read_csv('datasets/parent_themes.csv')

In [39]:
lego = lego[lego['set_num'].notna()]
parent = parent.rename(columns={'name': 'parent_theme'})

In [43]:
junto = pd.merge(lego, parent)

In [47]:
junto_t = junto[junto['is_licensed'] != False]

In [48]:
junto_t

,set_num,name,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True
...,...,...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11829,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11830,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11831,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11832,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [44]:
junto

,set_num,name,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
...,...,...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11829,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11830,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11831,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11832,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [40]:
lego

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11828,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,15.0,LEGO Brand Store,LEGO Brand Store
11829,WHITEHOUSE-1,Micro White House,2015,NaN,Promotional,Promotional
11830,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,146.0,LEGO Brand Store,LEGO Brand Store
11831,WishingWell-1,Wishing Well [Toys R Us Promo],2013,NaN,Friends,Friends
11832,wwgp1-1,Wild West Limited Edition Gift Pack,1996,NaN,Cowboys,Western

In [41]:
parent

      id  parent_theme  is_licensed
0      1       Technic        False
1     22       Creator        False
2     50          Town        False
3    112        Racers        False
4    126         Space        False
..   ...           ...          ...
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

[111 rows x 3 columns]